
.features__content {
  background-color: $yellow;
  display: flex;
  flex-direction: column;
  height: 600px;
  margin-top: 30px;
  width: 100%;
}

.features__content-header {
  // background-color: purple;
  height: 100px;
  width: 100%;
  padding-left: 50px;
  box-sizing: border-box;
}

.features__content-header h1 {
  color: $white;
  font-size: 28px;
  margin-bottom: 10px;
}

.features__content-header p {
  color: $black;
}

.features__column1{
  // background-color: red;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-top: 50px;
  padding-bottom: 100px;
  width: 100%;
}

.features__column2 {
  // background-color: blue;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.features__item-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 120px;
  width: 100%;
}

.features__item-title {
  color: $white;
  font-size: 24px;
  text-align: left;
}

.features__item-row {
  display: flex;
  flex-direction: row;
}

.features__item-icon {

}

.features__item-text {
  color: $black;
  font-size: 16px;
  margin-left: 20px;
}