
.footer__content {
  // background-color: $yellow;
  display: flex;
  // flex-direction: column;
  justify-content: space-between;
  height: 240px;
  margin-top: 30px;
  margin-bottom: 50px;
  width: 100%;
}

.footer__content-column1 {
  background-color: $black;
  height: 100%;
  width: 50%;
}

.footer__content-column2 {
  margin-left: 10px;
  background-color: $black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;
}

.footer__content-column1-contenedor {
  color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  height: 100%;
  width: 80%;
}

.footer__content-column2-contenedor {
  // background-color: red;
  color: $white;
  font-size: .8em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  // margin: 0 auto;
  height: 100%;
  width: 80%;
}

.footer__content-column2-row {
  display: flex;
  // background-color: green;
  width: 100%;
}

.footer__content-column2-row input {
  background-color: $white;
  border: none;
  width: 80%;
}

.footer__content-column2-row button {
  background-color: $white;
  border: none;
  margin-left: 2px;
  padding: 10px 10px;
  width: 20%;
}