
.gallery__content {
  // background-color: $yellow;
  display: flex;
  height: 160px;
  margin-top: 30px;
  width: 100%;
}

.gallery__card {
  background-color: red;
  margin-left: 10px;
  height: 100%;
  width: 25%;
}

.gallery__card-title {
  height: 10%;
  color: $white;
  background-color: $black;
  font-size: 12px;
}

.gallery__card-body {
  height: 90%;
  background-color: $black;
  color: $white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 2px;
}

.gallery__card-body p {
  font-size: 12px;
}