
.gallery__content {
  // background-color: $yellow;
  display: flex;
  justify-content: space-between;
  height: 160px;
  margin-top: 30px;
  width: 100%;
}

.gallery__card {
  // background-color: red;
  // margin-left: 10px;
  height: 100%;
  width: 24%;
}

.gallery__card-title {
  height: 10%;
  color: $white;
  font-size: 12px;
}

.gallery__card-title h3 {
  background-color: $black;
  display: inline;
  padding: 5px;
}

.gallery__card-body {
  height: 90%;
  background-color: $black;
  color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 6px;
}

.gallery__card-body p {
  font-size: 12px;
  align-self: flex-start;
  
}