@import './base/base';
@import './base/settings';

//components
@import './components/nostalgia';
@import './components/header';
@import './components/main';
@import './components/gallery';
@import './components/features';
@import './components/testimonials';
@import './components//contactus';
@import './components/footer';