
* {
  font-family: 'Voces', cursive;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100vh;
  width: 100%;
}

main {
  width: 100%;
}

.bold {
  font-weight: bold;
}

.row {
  display: flex;
  justify-content: space-between;
}